{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<style>
body{
    background: darkblue;
    /* background-image: url('/assets/uploads/products/6fcf56946d753a0a73da5ed0842ea4e3.webp') ; */
    /* opacity:0.20; */
    background-size:cover;

}

.imgH1 {
    position: relative;
    overflow: hidden;
    /* padding: 16px; */
    /* border: 1px dashed green; */
}
.imgH1 h1 {
    /* padding: 100px; */
    position: relative;
    z-index: 2;
}
.imgH1 img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

section{
    position: relative;
    z-index: 2;
}

footer{
    position: relative;
    z-index: 2;
}
</style>

<div class="imgH1">
    <img class="bgH d-block w-100" src="{{asset('/assets/uploads/products/6fcf56946d753a0a73da5ed0842ea4e3.webp')}}" >
    <main class="container nopadding">
        <section class="row">

            <div class="container col-md-5 p-5 flex text-white">
                <h1 class="text-center ">Inscription</h1>
                {{ form_start(registrationForm) }}
                    <fieldset class="mb-3 ">
                        <div class="input-group-addon">{{ form_row(registrationForm.lastname) }}</div>
                        <div class="input-group-addon">{{ form_row(registrationForm.firstname) }}</div>
                        <div class="input-group-addon">{{ form_row(registrationForm.address) }}</div>
                    </fieldset>

                    <fieldset class="mb-3">
                        <div class="input-group-addon">{{ form_row(registrationForm.zipcode) }}</div>
                        <div class="input-group-addon">{{ form_row(registrationForm.city) }}</div>
                        <div class="input-group-addon">{{ form_row(registrationForm.email) }}</div>
                    </fieldset>

                    <fieldset class="mb-3 ">
                        <div class="input-group-addon">{{ form_row(registrationForm.plainPassword) }}</div>
                        <div class="input-group-addon">{{ form_row(registrationForm.agreeTerms) }}</div>
                    </fieldset>

                    <fieldset class="mb-3 ">
                        <button type="submit" class="btn btn-primary btn-lg my-3 ">M'inscrire</button>
                        <a href="{{ path('app_login')}}" class="btn btn-secondary">Me connecter</a>
                        <div class="input-group-addon">{{ form_end(registrationForm) }}</div>
                    </fieldset>
            </div>
        </section>
    </main>
</div>

{% endblock %}
